@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: #fff;
  --foreground: #000;
}

.css-zanzjh-MuiPaper-root-MuiAppBar-root {
  background-color: #f1f5f9 !important;
  position: fixed !important;
}
/* .css-1ygil4i-MuiToolbar-root {
  padding-left: 35px !important;
  padding-right: 38px !important;
} */
.background-text {
  width: 49%;
  padding: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}

.css-18k2bs-MuiAvatar-root {
  width: 170px;
  height: 170px;
  font-size: 6.25rem;
}
.book-slot {
  border: 1px solid rgb(188, 192, 194) !important;
}
.modal-heading {
  display: flex !important;
  justify-content: space-between !important;
}
.form-fields {
  margin-bottom: 4%;
  display: flex;
  gap: 3%;
}

.css-1sdwht6-MuiPaper-root-MuiAppBar-root {
  background-color: #f1f5f9 !important;
}

.css-1588512-MuiButtonBase-root-MuiButton-root {
  color: #060606 !important;
}
.css-1ygil4i-MuiToolbar-root {
  justify-content: space-between !important;
}
.header-email {
  color: #060606;
  padding-right: 20px;
}
.logout-button {
  border: 1px solid black !important;
}
.css-1588512-MuiButtonBase-root-MuiButton-root {
  border: 1px solid black !important;
  padding: 2px 7px !important;
}

.css-f2z2f9-MuiPaper-root-MuiAppBar-root {
  background-color: #f1f5f9 !important;
}
.css-1sv74b4-MuiPaper-root-MuiAppBar-root {
  background-color: #f1f5f9 !important;
}
.search-date {
  height: 40px;
  width: 170px;
}
.css-7mxpdy-MuiPaper-root-MuiAppBar-root {
  background-color: #f1f5f9 !important;
}
.css-1rod9u0 {
  background-color: #f1f5f9 !important;
}
.css-157ayuk {
  background-color: #f1f5f9 !important;
}
.MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular.css-awgou1 {
  justify-content: space-between !important;
}
.message {
  margin-bottom: 4% !important;
}
.doctor-email {
  margin: 4% 0 !important;
}
.css-32fwiz-MuiButtonBase-root-MuiListItemButton-root {
  gap: 10px !important;
}
.multiline-text {
  margin-top: 13px;
}
.css-1n06d4-MuiPaper-root-MuiAppBar-root {
  background-color: #f3f6f8 !important;
}

.css-aixiz9-MuiButtonBase-root-MuiIconButton-root {
  color: #3d3c3c;
}

.css-lqzwue-MuiButtonBase-root-MuiListItemButton-root.Mui-selected {
  background-color: rgb(0 0 0 / 34%) !important;
}
.css-x5g5je-MuiButtonBase-root-MuiListItemButton-root:hover {
  background-color: #c7c7c773 !important;
}
.css-lqzwue-MuiButtonBase-root-MuiListItemButton-root.Mui-selected:hover {
  background-color: rgb(151 153 156 / 57%) !important;
}
.css-dqnuz1 {
  margin-top: 8% !important;
}
.css-wunnb4 {
  margin-top: 8% !important;
}
.css-11fb974 {
  background-color: #f3f6f8 !important;
}
.css-1kh9yyn {
  color: #3d3c3c !important;
}
input[type="radio"] {
  margin-right: 10px;
}
input[type="checkbox"] {
  margin-right: 10px;
}
.css-1fmwl5v {
  background-color: #f3f6f8 !important;
  color: black !important;
}
.css-ptdwpq-MuiPaper-root-MuiAppBar-root {
  background-color: #f3f6f8 !important;
  color: black !important;
}
.css-12pwiy3-MuiContainer-root {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.css-1vh5sne-MuiTypography-root {
  font-size: 1.5rem !important;
  margin-left: 5% !important;
}
.css-cdtzx3-MuiButtonBase-root-MuiIconButton-root {
  color: #3f3f3f!important;
  margin-right: 5% !important;
}
main.MuiBox-root.css-7ybbiq {
  width: calc(91% - 240px) !important;
}
.css-1v6p5b {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.css-7ybbiq {
  padding: 10px 3% !important;
  margin: 0px 5%;
}
.MuiTypography-root.MuiTypography-h6.MuiTypography-noWrap.css-5lnhk4-MuiTypography-root {
  color: #027ad1 !important;
  font-weight: 700;
}
.navitems:hover {
  color: #027ad1 !important;
}

.css-90rz7s-MuiPaper-root-MuiCard-root {
  width: 50%!important;

}




















@media (max-width: 1400px) {
  .css-o2za6n-MuiTypography-root {
    font-size: 2.75rem !important;
  }
}
@media (max-width: 900px) {
  .css-o2za6n-MuiTypography-root {
    font-size: 1.75rem !important;
  }

  .text-lg {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}

